<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="date-box box"><%= dateHeader %></div>
      <div class="one-to-one box"></div>
      <div class="many-to-one box"></div>
      <div class="many-to-many box"></div>
    </main>
    <footer>Copyright @copy <%= new Date().getFullYear() %></footer>
  </body>
</html>
